/* Estilo geral */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff94;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
    color: #000000;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #000000;
}

nav {
    margin: 5px 0;
}

nav a {
    text-decoration: none;
    color: #ae00ff;
    margin: 0 5px;
    font-weight: bold;
}

nav a:hover {
    color: #1eb300;
    text-decoration: underline;
}

iframe {
    border: 1px solid #000000;
    border-radius: 5px;
}

footer {
    font-size: 0.9em;
    color: #000000;
    margin-top: 10px;
    font-weight: bolder;
    text-align: center;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e4e4e494; 
    padding: 10px;
}


/* Estilo para centrar conteúdo */
center {
    padding: 20px;
}